# Dependencies
node_modules/
jspm_packages/

# Build outputs
dist/
tmp/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor / IDE
.vscode/
.idea/
